body {
    font-family:monospace;
    font-size: 13pt;
    background-color: rgba(223, 228, 236, 0.733);
}
img.rede {
    border-radius:100%;
}
div.content{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    align-content: center;
}